.green{
    color: green;
    font-weight: bold;
}

.blue{
    color: blue;
    font-weight: bold;
}

h2{
    color:red !important;
}

p{
    color: green;
    background-color: yellow;
}